.main {
  .welcome,
  .message {
    position: absolute;
    top: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.logout {
  color: white;
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.btnCreate {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.menu {
  cursor: pointer;
  
  img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
  }

  span {
    color: white;
    padding: 0.3em;
    font-weight: bold;
  }
}
